{% extends "base.html" %}
{% block content %}
{% include "components/_navbar.html" %}
{% include "components/_header.html" %} 
<div class="form__container">
  <h1>Sign in</h1>
  <form class="form" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.username.label }} <br>
      {{ form.username(size=32) }} <br>
      {% for err in form.username.errors %}
      <span class="error">Username: {{ err }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }} <br>
      {{ form.password(size=32) }} <br>
      {% for err in form.password.errors %}
      <span class="error">Password: {{ err }}</span>
      {% endfor %}
    </p>
    <p>{{ form.remember_me() }}{{ form.remember_me.label }}</p>
    <p class=>{{ form.submit() }}</p>

    <p>Not a member? 
      <a href="{{ url_for('auth.register') }}">Register here &rsaquo;</a> 
      <br> 
      Forgot your password? 
      <a href="{{ url_for('auth.reset_password') }}">Reset password &rsaquo;</a> 
      <br> 
      Not sure what this is?
      <a href="{{ url_for('main.about') }}">Learn more &rsaquo;</a></p>        
  </form>
</div>

{% endblock %}