html,
body {
  margin: 0 !important;
  padding: 0;
  height: 100%;
  /* overflow: hidden; */
  /* font-family: 'Quicksand', sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(82, 88, 94);
}

code {
  background: rgb(22, 155, 152);
  color: #f9f9f9;
  padding: 0.2rem;
  border-radius: 3px;
}



.settings ul {
  /* outline: 4px solid red; */
  
  /* border: 1px solid rgb(22, 155, 152); */
  list-style: none;
  padding: none;
}

.settings ul h3 {
  margin: .5rem;
}

.settings a {
  font-size: .7rem;
  color: rgb(22, 155, 152);
}

.settings a:hover {
  color: rgb(211, 40, 54);
}

.settings li {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  border-radius: 2px;
  text-align: center;
}

/* ===============
    HELPER
================*/
.font-light{
  font-weight: 100;
}



/* ===============
    CONTAINER
================*/
.container {
  margin: 0 auto;
  max-width: 768px;
  padding: 0 1em;
}

.container__item {
  margin-bottom: 4rem;
}

.container__item img {
  box-shadow: 0 5px 1em rgba(0,0,0,0.3);
  max-width: 100%;
}

.container h1 {
  color: rgb(22, 155, 152);
}

.container p {
  color: #46494b;
}
/* ===============
      NAVBAR
================*/
.navbar li {
  display: inline;
}

.navbar a {
  padding: 1em;
  text-decoration: none;
}

/* ===============
      HEADER
================*/
.header {
  /* background: #f9fafc; */
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.header h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 300%;
}

.header h2 {
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 1rem;
  color: rgb(88, 94, 100);
}

.header span {
  color: rgb(22, 155, 152);
}

/* ===============
      MAIN
================*/
.main {
  display: grid;
  /* grid-template-columns: 1fr; */
  /* grid-auto-rows: 8em 1fr; */
  height: 100%;
}

.main h1,
.main h2,
.main h3,
.main p {
  margin: 0;
}

/* ===============
    DASHBOARD
================*/
.dash {
  /* display: flex; */
  /* justify-content: space-between; */
  height: 80px;
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-auto-rows: 80px;
  background: rgba(34, 33, 33, 0.685);
  color: #e1e8ee;
  
}

#player {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}

/* ===============
      FLASH
================*/
.flash {
  background: rgb(22, 155, 152);
  list-style: none;
  margin: 0;  
}

.flash li {
  padding: 1em;
  color: #f9f9f9;
}


/* ===============
      FORM
================*/
.form__container {
  
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form__container form {
  max-width: 500px;
}

.form__container input {
  margin-bottom: 0.5rem;

}

input[type=submit] {
  background: #ffff;
  border: 1px solid rgb(39, 119, 194);
  color: rgb(39, 119, 194);
  border-radius: 3px;
  padding: 0.5rem;
  cursor: pointer;
}

.error {
  background: rgb(211, 40, 54);
  color: #f9f9f9;
  padding: 0.5rem;
  /* margin: 1rem; */
  display: inline-block;
  margin-bottom: 1rem;
  border-radius: 3px;
}

/* ===============
    WEATHER
================*/
.weather {
  padding: 0 0.5em;
  display: flex;
  align-items: center;
  /* grid-area: 1; */
  /* background: #00d2ff;  
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
  background: linear-gradient(to right, #3a7bd5, #00d2ff);  */
}

.weather div {
  /* float: left; */
  margin-right: 1rem;
}

#temp {
  font-size: 300%;
  font-weight: 100;
}

/* ===============
    INPUTS
================*/

.inputs {
  /* text-align: center; */
  
  background: rgba(34, 33, 33, 0.685);
  position: absolute;
  bottom: 0;
  left: 0;
  color: #f9f9f9;
  transform: translateY(100%);
  transition: all 200ms ease;
}

.inputs__container {
  position: relative;
  padding: 1em 0.5em;  
}

.inputs__link {
  color: aqua;
}

.inputs__link:visited {
  color: lightcoral;
}

.inputs__link:hover {
  color: white;
}

.inputs__button {
  position: absolute;
  top: 0;
  left: 1em;
  transform: translateY(-100%);  
  font-size: 1.2rem;
}

.inputs--show {
  transform: translateY(0);
}

.inputs label {
  margin-bottom: 1em;  
  float: left;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.inputs input,
.inputs select {
  margin-top: 0.5em;
}

.inputs button {
  margin-top: 0.5em;
  background: rgb(39, 119, 194);
  color: #f9f9f9;
  border: none;
  border-radius: 3px;    
  padding: 0.5rem;
  cursor: pointer;
  transition: all 120ms;
  /* margin-left: 1em; */
}

.inputs button:hover {
  background: rgb(74, 152, 226);
}

/* ===============
    STOCKS
================*/
.stocks {
  /* outline: 2px solid salmon; */
  padding: 0;
  display: flex;
  animation: slider 45s linear infinite;
  width: 3000px;
}

@media (min-width:1920px) {
  .stocks {
    animation-duration: 45s;
  }
}

.ticker {
  overflow: hidden; 
}

.stocks__quote {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1em .5em;
  margin-right: 5rem;
  min-width: 300px;
  /* border-bottom: 2px solid #bbc0c4; */
  /* margin: 1rem 0; */
}

@keyframes slider {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

/* .stocks div:nth-of-type(even) {
  background: #4D648D;
  color: #f9f9f9;
} */

.stocks__quote p {
  margin-bottom: 0.25rem;
}
