<section class="inputs">
  <div class="inputs__container">
    <div class="inputs__button">
      <button>Settings</button>
    </div>
    <label>Select a video
      <select name="embed-codes" id="embedCodes">
        {% for embed in embeds %}
          <option className="select__option" value="{{embed[0]}}">{{embed[-1]}}</option>
        {% endfor %}
      </select>
    </label>
    <label>Add an embed
      <input type="text" name="embed" id="embedInput">
      <button for=embed id="embedButton">Submit</button>
    </label>
    <p>
      <a class="inputs__link" href="{{ url_for('main.settings') }}">Settings</a>
      <br>
      <a class="inputs__link" href="{{ url_for('auth.logout') }}">Logout</a>
    </p>    
  </div>
</section>