<div class="todo">
    <!-- <form action="" method="post">      
      {{ todoForm.hidden_tag() }}
      <p>
        {{ todoForm.todo.label }}
        {{ todoForm.todo(size=32) }}
        {% for err in todoForm.todo.errors %}
        <span class="error">Todo: {{ err }}</span>
        {% endfor %}
      </p>
      <p class=>{{ todoForm.submitTodo() }}</p>
    </form> -->
  <div class="todo__item">
    <h3>To do list</h3>   
  </div>
  <ul>
    {% for todo in todos %}      
      <li>{{todo.todo}}<a href="/settings/todo/{{todo.id}}"><span>&#x2715;</span></a></li>        
    {% endfor %}
  </ul>   
</div>

<script>  
// ===================
// I didn't write this logic
// ===================
dragElement(document.querySelector(".todo"));
var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
function dragElement(elmnt) {

  if (document.getElementById(elmnt.id + "header")) {
    // if present, the header is where you move the DIV from:
    document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
  } else {
    // otherwise, move the DIV from anywhere inside the DIV: 
    elmnt.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    // stop moving when mouse button is released:
    document.onmouseup = null;
    document.onmousemove = null;
  }

 
}
// ===================
// I did write this little bit though!
// ===================
window.addEventListener('resize', () => {
  let todoBox = document.querySelector(".todo");
  todoBox.style.top = `40%`;
  todoBox.style.left = 0;
});
// Set window to default position on resize

</script>