<section class="inputs">
  <div class="tool">
    <span>&#x1f527;</span>            
  </div> 
  <label>Select a video
  <select name="embed-codes" id="embedCodes">
    <option value="bdnHKdb-Oss">Fish</option>
    <option value="bjRw0-5CYWo">Beach</option>
    <option value="ht2TigJp88w">Space</option>
    <option value="iGpuQ0ioPrM">Glitter</option>
    <option value="sadf">BReal</option>
  </select>
  </label>
  <label>Add an embed
    <input type="text" name="embed" id="embedInput">
    <button for=embed id="embedButton">Submit</button>
  </label>                              
</section>   