{% extends "base.html" %}

{% block content %}

{% include "_navbar.html" %}
{% include "_header.html" %}
<main class="container">
  <div class="container__item">
    <h1>What is To<span>View</span>It?</h1>
    <h2>It's functional art</h2>    
    <p>The functionality comes from being able to view real-time weather information and the
      scrolling stock-ticker. The art comes from the configurable backrgound video.</p>
      <div class="container__img">
        <img src="https://i.imgur.com/hTLUcxKl.jpg" alt="Smart Frame">
      </div>
    
    <h2>It's customizable</h2>
    <p>Easily configure your location and stock-ticker.</p>
    <div class="container__img">
      <img src="https://i.imgur.com/X3Exe94l.jpg" alt="Smart Frame Settings">
    </div>
  </div>
  <div class="container__item">
    <h1>How to use it</h1>
    <p>There are a number of ways run this application. Your configuration will largely
      depend on your technical knowledge, though even someone with no programming
      experience can use this applicaton.
    </p>

    <h2>Level I</h2>
    <p>Simply open in your favorite browser, hit (F11) to enter "full-screen" mode. </p>
    
    <h2>Level II</h2>
    <p>Connect a Raspberrypi a PC-monitor and run full-screen in the Chromium browser. 
      This way you can use <code>vcgencmd</code> and <code>cronjob</code> 
      to automate turning the designated monitor on/off according to your
      schedule.

    <h2>Level III</h2>
    <p>
      A lot of improvements can be made to this application.
      Make a pull-request here &mdash; <a href="https://github.com/dacrands/flask-smart-monitor">SmartFrame repo</a> </p>
  </div>
  
</main>

{% endblock %}