{% extends "base.html" %}

{% block content %}

<main class="main">        
  <div class="dash">         
    {% include "containers/_weather.html" %}                         
    {% include "containers/_stocks.html" %}                                 
  </div>  
  {% include "containers/_todos.html" %}  
  <div id="player"></div>
  {% include "containers/_inputs.html" %}                             
</main>
<script>
  document.body.style.overflow = 'hidden';
</script>



{% include "containers/_youtube.html" %}
      
{% endblock %}