{% extends "base.html" %}

{% block content %}
<h1>Register</h1>
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <!-- Username -->
  <p>
    {{ form.username.label }} <br>
    {{ form.username(size=32) }} <br>
    {% for err in form.username.errors %}
      <span>[{{ err }}]</span>
    {% endfor %}
  </p>
  <!-- Email -->
  <p>
    {{ form.email.label }} <br>
    {{ form.email(size=64) }} <br>
    {% for err in form.email.errors %}
      <span>[{{ err }}]</span>
    {% endfor %}
  </p>
  <!-- Password -->
  <p>
    {{ form.password.label }} <br>
    {{ form.password(size=32) }}
    {% for err in form.password.errors %}
      <span>[{{ err }}]</span>
    {% endfor %}
  </p>
  <!-- Password2 -->
  <p>
    {{ form.password2.label }} <br>
    {{ form.password2(size=32) }} <br>
    {% for err in form.password2.errors %}
      <span>[{{ err }}]</span>
    {% endfor %}
  </p>  
  <!-- Submit -->
  <p>{{ form.submit() }}</p>
  <!-- <a href="/register">Register</a> -->
</form>
{% endblock %}