<div style="color: rgb(16, 107, 103); 
            text-align: center;         
            padding-top: 45px; 
            background: rgb(234, 238, 238);">
    <h1>Flask SmartFrame</h1>
    <p>A simple app to make life simpler...</p>    
</div>

<p>Hello,</p>

<p>Please reset your password!</p>
<a href="{{ url_for('new_password', token=token, _external=True) }}">
    Reset password
</a>.

<p>Alternatively, you can paste the following link in your browser's address bar:</p>
{{ url_for('login', token=token, _external=True) }}
<p>If you have not requested a password reset simply ignore this message.</p>
<p>Sincerely,</p>
<p>The Microblog Team</p>