{% extends "base.html" %}

{% block content %}
<main class="container">
  <header class="header primary">
    <h1>Settings</h1>
  </header>

  <div class="crumbs">
    <a href="/">Home</a> / <a href="/settings">Settings</a>
  </div>
  <div class="settings">
    <h2 class="primary">Stocks</h2>    
    <ul>
      {% for stock in stocks %}
      <li>
        <h3>{{stock}}</h3>

        <a href="/settings/{{stock}}">Remove stock</a>
      </li>
      {% endfor %}
    </ul>
    <form action="" method="post">      
      {{ stockForm.hidden_tag() }}
      <p>
        {{ stockForm.symbol.label }}
        {{ stockForm.symbol(size=8) }}
        {% for err in stockForm.symbol.errors %}
        <span class="error">Stock: {{ err }}</span>
        {% endfor %}
      </p>
      <p class=>{{ stockForm.submitStock() }}</p>
    </form>
  </div>

  <div class="settings">  
    <h2 class="primary">Embeds
        <button class="tooltip__btn">          
            <img src="{{ url_for('static', filename='images/info.svg') }}" alt="">    
        </button>
    </h2> 
    
    <span class="tooltip">Here is a link to a Youtube video: 
      <code>
        https://www.youtube.com/watch?v=<strong>FGBhQbmPwH8</strong>
      </code>
      <br> That yellow sequence of characters
      at the end is an <strong>embed code.</strong>
      Copy paste that code into the box below, add a title,
      and enjoy!
    </span>    
    <ul>
      {% for embed in embeds %}
      <li>
        <h3>{{embed[-1]}}</h3>        
        <a href="/settings/embed/{{embed[0]}}">Remove embed</a>

      </li>
      {% endfor %}
    </ul>
    <form action="" method="post">      
      {{ embedForm.hidden_tag() }}
      <p>
        {{ embedForm.embed.label }}
        {{embedForm.embed(size=16) }}
        {% for err in embedForm.embed.errors %}
        <span class="error">Embed: {{ err }}</span>
        {% endfor %}
      </p>
      <p>
        {{ embedForm.name.label }}
        {{ embedForm.name(size=24) }}
        {% for err in embedForm.name.errors %}
        <span class="error">Embed name: {{ err }}</span>
        {% endfor %}
      </p>
      <p class=>{{ embedForm.submitEmbed() }}</p>
    </form>
  </div>

  <div class="settings">
    <form action="" method="post">
      <h2 class="primary">Location</h2>
      <h3 class="font-light">{{lat, lon}} </h3>
      {{ locationForm.hidden_tag() }}
      <p>
        {{ locationForm.lat.label }}
        {{ locationForm.lat(size=4) }}
        {% for err in locationForm.lat.errors %}
        <span class="error">Location: {{ err }}</span>
        {% endfor %}
        <br>
        {{ locationForm.lon.label }}
        {{ locationForm.lon(size=4) }}        
        {% for err in locationForm.lon.errors %}
        <span class="error">Location: {{ err }}</span>
        {% endfor %}
      </p>
      <p class=>{{ locationForm.submitLoc() }}</p>
    </form>
  </div>


  <div class="settings">
      <h2 class="primary">Todo</h2>
      <h3 class="font-light">What do you have to do?</h3>
      <ul>
        {% for todo in todos %}
        <li>
          <p>{{todo[-1]}}</p>
          <a href="/settings/todo/{{todo[0]}}">Remove todo</a>
        </li>
        {% endfor %}
    </ul>
    <form action="" method="post">      
      {{ todoForm.hidden_tag() }}
      <p>
        {{ todoForm.todo.label }}
        {{ todoForm.todo(size=32) }}
        {% for err in todoForm.todo.errors %}
        <span class="error">Todo: {{ err }}</span>
        {% endfor %}
      </p>
      <p class=>{{ todoForm.submitTodo() }}</p>
    </form>
  </div>

  <div class="danger">
    <a class="danger" href="{{url_for('delete_user')}}">
      Delete Account
    </a>
  </div>

  <div class="back">
    <a href="/">&larr; Back</a>
  </div>
  
</main>

<script>
    const tooltip = document.querySelector('.tooltip');
    const tooltipBtn = document.querySelector('.tooltip__btn');
    tooltipBtn.addEventListener('click', e => {
      tooltip.classList.toggle('tooltip--show')
    })
</script>

{% endblock %}