{% extends "base.html" %}

{% block content %}
<main class="container">
  <header class="header">
    <h1>Settings</h1>
  </header>

  <section class="settings">
    <h2 class="font-light">Your stocks: </h2>
    <ul>
      {% for stock in stocks %}
      <li>
        <h3>{{stock}}</h3>

        <a href="/settings/{{stock}}">Remove stock</a>
      </li>
      {% endfor %}
    </ul>
    <form action="" method="post">
      <h2 class="font-light">Add a stock: </h2>
      {{ stockForm.hidden_tag() }}
      <p>
        {{ stockForm.symbol.label }}
        {{ stockForm.symbol(size=8) }}
        {% for err in stockForm.symbol.errors %}
        <span class="error">Stock: {{ err }}</span>
        {% endfor %}
      </p>
      <p class=>{{ stockForm.submit() }}</p>
    </form>
  </section>
  <section class="settings">
    <form action="" method="post">
      <h2 class="font-light">Location: {{lat, lon}} </h2>
      {{ locationForm.hidden_tag() }}
      <p>
        {{ locationForm.lat.label }}
        {{ locationForm.lat(size=4) }}
        <br>
        {{ locationForm.lon.label }}
        {{ locationForm.lon(size=4) }}
      </p>
      <p class=>{{ locationForm.submit() }}</p>
    </form>
  </section>



  <a href="/">&larr; Back</a>
</main>


{% endblock %}